<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.TMLMapper">
<select id="targetList" resultType="hashmap">
	select targetSales, targetCost from target where target_day like #{date} || '%' and target_companyCode = #{companyCode}
</select>
</mapper>